/* version 4.11 (2014-10-28) */

#bnr-wrap {
border-bottom-color : #A71930;
}
#bnr-underline {
border-bottom: #D38C98 solid 1px;
}

#gw-megas-tabs .gw-mega-t2 .gw-select {
    border-left: #A71930 5px solid !important;
}

#gw-megas-tabs .gw-mega-menu .gw-mega-t1.gw-select {
    border-left:#A71930 10px solid !important
}
.gw-mega-wrap {
    border-bottom: #A71930 3px solid;
}

#tabs-wrap #gw-nav ul li a:hover, #tabs-wrap #gw-nav a:hover {
    color: #530C18;
    background-color: #E9C5CB;
}

.box-header {
background-color : #F6E8EB;
border-color: #A71930;
color : #530C18;
}

.box-header h1, .box-header h2, .box-header h3 {
color : #530C18;
}

.box-header a, .box-header a:active, .box-header a:visited  {
color : #530C18;
}

.box-solid, .box-dotted, .box-college {
background-color : #ffffff;
border-color : #A71930;
}
.box2-solid, .box-solid2 {
background-color : #ffffff;
border-color : #A71930;
}
.box-bdr2, .box2-dotted, .box-dotted2 {
background-color : #F6E8EB;
border-color : #A71930;
}

.bdr-college {
border-color : #A71930;
}

.bdr-college50 {
border-color : #D38C98;
}

.bdr-college25 {
border-color : #E9C5CB;
}

.bdr-college10 {
border-color : #F6E8EB;
}

.bg-college {
background-color : #A71930;
color: #ffffff;
}

.bg-college a {
    color: #ffffff;
}

.bg-college50 {
background-color : #D38C98;
}

.bg-college50 a {
    color: #111111;
}

.bg-college25 {
background-color : #E9C5CB;
}

.bg-college25 a {
    color: #111111;
}

.bg-college10 {
background-color : #F6E8EB;
}

.grd-college {
background :  #A71930 url(../images/styles/gradient-cecs.jpg) repeat-x bottom left;
}

.grd-college50 {
background : #D38C98 url(../images/styles/gradient-cecs50.jpg) repeat-x bottom left;
}

.grd-college25 {
background : #E9C5CB url(../images/styles/gradient-cecs25.jpg) repeat-x bottom left;
}

.grd-college10 {
background : #F6E8EB url(../images/styles/gradient-cecs10.jpg) repeat-x bottom left;
}

.text-college, .hdr-college, .hdr-college a, .hdr-college a:hover  {
color : #530C18;
}

table {
border-color : #A71930;
}
th {
background-color : #F6E8EB;
border-color : #A71930;
color : #530C18;
}

th a {
color : #530C18;
}

table.tbl-row-bdr tr td, table.tbl-row-bdr tr th {
border-color : #A71930;
}
table.tbl-col-bdr td, table.tbl-col-bdr th {
border-color : #A71930;
}
table.tbl-cell-bdr td, table.tbl-cell-bdr th {
border-color : #A71930;
}

.divline-solid-college, .divline-dotted-college, .divline-bold-college  {
border-bottom-color : #A71930;
}

#features-nav li a:hover, #features-nav-rotating li a:hover, #features-nav-rotating li .linkselect {
background-color : #A71930;
border-color : #A71930;
}

#f4 #f4-short-1,
#f4 #f4-short-2,
#f4 #f4-short-3,
#f4 #f4-short-4 {
	background-color : #F6E8EB;
}
#f4 .f4-short-selected {
	background-color : #D38C98 !important;
	border-left-color : #A71930;
}


@media only screen and (max-width: 599px) {
#f4 .f4-short-selected {

     background-color : #F6E8EB !important;
}
}



div.menu-blue, div.menu-main {
border-top-color: #A71930;
}

.menu-main .selected, .menu-blue .selected {
border-left:5px solid #A71930;
}

.tools-college {
color : #530C18;
background : #E9C5CB;
}

.tools-college ul li a {
color : #530C18;
background : #E9C5CB;
}

.tools-college ul li a:hover {
background : #A71930;
}
